<section class="container py-3">
  <div class="row align-items-center">
    <div class="col-lg-7">
      <h1 class="fw-bold">Hello, I'm <br/>
        <span id="banner-name" class="primary-color"></span>
      </h1>
      <h4 id="banner-job-title"></h4>

      <h5 id="banner-summary-title" class="mt-4 text-bold"></h5>
      <p id="banner-description" class="text-muted"></p>

      <div class="social-btn">
        <a  href="./assets/files/Frontend Developer - Mohamed Elyamani.pdf"
        class="btn bg-primary-color text-white cvBtn me-2">
          <i class="fas fa-download me-2"></i>
          Download CV
        </a>
        <a id="banner-linkedin" href="https://www.linkedin.com/in/mohamed-elyamani-131091142/" class="btn bg-primary-color text-white rounded-2"><i class="fab fa-linkedin-in"></i></a>
        <a id="banner-github" href="https://github.com/MohamedElyamani" class="btn bg-primary-color text-white rounded-2"><i class="fab fa-github"></i></a>
        <a id="banner-email" href="mailto:mohamed1elyamani1@gmail.com" class="btn bg-primary-color text-white rounded-2"><i class="fa-brands fa-google"></i></a>

      </div>
    </div>
    
    <div class="col-md-5 text-center">
      <img src="../../assets/imgs/banner.png" alt="Mohamed Elyamani" class="w-75 w-md-100">
    </div>

    <ul id="banner-stats" class="d-flex flex-column flex-lg-row gap-4 list-unstyled mt-4"></ul>
  </div>
</section>