<section class="contact-section py-5">
  <div class="container">
    <h2 class="text-center secondary-color fw-bold mb-2">
      Let's <span class="primary-color">Talk!</span>
    </h2>

    <p class="text-center secondary-color mb-5">
      Feel free to reach out through any means, I am always
      <strong class="primary-color">ready</strong>
      to connect and work together.
    </p>

    <div class="row align-items-center g-5">
      <div class="col-md-5 text-center">
        <img src="./assets/imgs/contact.png" alt="contact image" class="img-fluid">
      </div>

      <div class="col-md-7">
        <div id="contact-list" class="d-flex flex-column gap-4"></div>
      </div>
    </div>
  </div>
</section>