<section class="skills-section py-5">
  <div class="container">
    <h2 class="text-center secondary-color fw-bold mb-5">
      Education & Technical <span class="primary-color">Skills</span>
    </h2>

    <div class="education">
      <div class="row align-items-center g-4">
        <div class="col-md-4 text-center">
          <img src="./assets/imgs/education.png" alt="graduation image" class="img-fluid">
        </div>

        <div class="col-md-8">
          <div class="bg-primary-color p-4 rounded h-fit-content">
            <h3 class="text-white fw-bold">
              Bachelor Of Education Information <br>
              Technology Dept.
            </h3>

            <p class="h6 text-white">Helwan University</p>
            <p class="h6 text-white">2015 - 2019</p>
            <p class="h6 text-white mb-0">
              <span class="fw-bold">Grade:</span> Very Good
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="skills-list"></div>
  </div>
</section>